* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 14px;
}

.clearfix {
	clear: both;
}

#workspace {
	max-width: 1200px;
	margin: 0 auto;
}

#header {
	height: 50px;
	border: 1px solid #000;
}

#logo {
	font-size: 25px;
	padding: 10px;
}

#slider {
	height: 350px;
	border: 1px solid #000;
}

.button {
	border: 1px solid #000;
	width: 250px;
	height: 50px;
	position: relative;
	top: -25px;
	left: 40%;
	z-index: 2;
	background: #fff;
}

#content {
	float: left;
	width: 53%;
}

.content-description {
	float: left;
	border: 1px solid #000;
	width: 46%;
	text-align: center;
	line-height: 20px;
	padding: 11px;
}

.content-post-description {
	border: 1px solid #000;
	overflow: hidden;
	padding: 5px 6px 5px 5px;
	text-align: center;
	line-height: 20px;
	margin-top: 20px;
}

#content-video {
	border: 1px solid #000;
	width: 45%;
	float: right;
	text-align: right;
	height: 315px;
}

#footer {
	height: 80px;
	border: 1px solid #000;
	margin-top: 20px;
}